{% extends 'base.html' %}
{% block title %}
Adaugă Meniu
{% endblock title %}

{% block draganddrop %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js"></script>
  {% endblock draganddrop %}

{% block logo %}
    <a href="/administrator" class="scrollto">TG</a>
{% endblock logo %}

{% block header %}
  {% if current_user.is_authenticated  %}
    <li><a href="/menu">Înapoi la Meniu</a></li>
    <li class="buy-tickets"><a href="/logout">Deconectare</a></li>
  {% endif %}
{% endblock header %}

{% block intro %}
  <!-- ======= Intro Section ======= -->
  <section id="intro">
    <div class="intro-container" data-aos="zoom-in" data-aos-delay="100">
      <h2 style="color:rgb(14, 68, 72);-webkit-text-stroke: 0.4px #fff; font-size: 45px;" class="text-center"><span><b><b>Adaugă Produs</b></b></span> </h2>
      
      <!-- Include your flash messages here -->
      {% with messages=get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
  
      <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
          {{message}}
  
  
      </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
      <br>
      <div class="container text-white">
  
        <div class="row">
  
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <!-- Include your form here -->
            <form action="/addmenu" method="post">
                <div class="form-group">
                    <label for="name">Nume produs:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="description">Descriere produs:</label>
                    <textarea class="form-control" id="description" name="description" required></textarea>
                </div>
                <div class="form-group">
                    <label for="price">Preț produs:</label>
                    <input type="number" class="form-control" id="price" name="price" required>
                </div>
                <div class="form-group">
                    <label for="image">Denumire imagine (Ex: imagine.jpg)</label>
                    <input type="text" class="form-control" id="image" name="image" required>
                </div>
                <button type="submit" style="background-color:rgb(14, 68, 72)" class="btn btn-sm btn-block text-white">Adaugă</button>
            </form>

            <br>
            <br>

        </div>

        <div class="col-md-4"></div>

        </div>
        </div>

    </div>
  </section>
{% endblock intro %}
