{% extends 'base.html' %}

{% block title %}
  {% if current_user.is_authenticated  %}
    Ospătar
  {% else %}
    TG
  {% endif %}
{% endblock title %}

{% block logo %}
    <a href="/client" class="scrollto">TG</a>
{% endblock logo %}

{% block header %}
  {% if current_user.is_authenticated  %}
    <li><a href="/comenzi">Comenzi</a></li>
    <li><a href="/menu">Meniu</a></li>
    <li class="buy-tickets"><a href="/logout">Deconectare</a></li>
  {% else %}          
    <li><a href="/login">Autentificare</a></li>
  {% endif %}
{% endblock header %}

{% block intro %}
  <!-- ======= Intro Section ======= -->
  <section id="intro">
    <div class="intro-container" data-aos="zoom-in" data-aos-delay="100">
      {% if current_user.is_authenticated  %}
        <h1 class="mb-4 pb-0"> PAGINĂ OSPĂTAR </span> </h1>
      {% endif %}
    </div>
  </section> <!-- End Intro Section -->
{% endblock intro %}