{% extends 'base.html' %}
{% block title %}
Ospătari
{% endblock title %}

{% block logo %}
    <a href="/administrator" class="scrollto">TG</a>
{% endblock logo %}

{% block header %}
{% if current_user.is_authenticated  %}
  <li><a href="/administrator">Înapoi</a></li>
  <li><a href="/addospatar">Adaugă Ospătar</a></li>
  <li class="buy-tickets"><a href="/logout">Deconectare</a></li>
{% endif %}


{% endblock header %}



{% block intro %}


  <!-- ======= Intro Section ======= -->
  <section id="intro">
    <div class="intro-container" data-aos="zoom-in" data-aos-delay="100">
      <h2 style="color:rgb(14, 68, 72);-webkit-text-stroke: 0.4px #fff; font-size: 45px;" class="text-center"><span><b><b>DETALII OSPĂTARI</b></b></span> </h2>
        
      {% with messages=get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}

      <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
          {{message}}


      </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
      <br>


      <table style="font-size: 25px" class="table text-white">
        <thead class="thead-light">
          <tr>
            <!-- <th scope="col">ID</th> -->
            <th scope="col">NUME OSPĂTAR</th>
            <th scope="col">EMAIL</th>
            <th scope="col">ȘTERGE</th>

          </tr>
        </thead>
        <tbody>
        {% for post in query %}
          <tr>
            <!-- <th scope="row">{{post.id}}</th> -->
            <td>{{post.oname}}</td>
            <td>{{post.email}}</td>
            <td><a href="/deleteospatar/{{post.email}}"><button onclick="return confirm('Ești sigur că vrei să ștergi datele ospătarului?');" class="btn btn-danger">Șterge</button> </a> </td>
          </tr>
      {% endfor %}
        
        </tbody>
      </table>
    </div>
  </section> <!-- End Intro Section -->

{% endblock intro %}

